wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="tflite.com/TakeFliteExternalService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" name="ExternalService" targetNamespace="tflite.com/TakeFliteExternalService/">
  <wsp:Policy wsu:Id="WSHttpBinding_TakeFliteOtaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="tflite.com/TakeFliteExternalService/Imports">
      <xsd:import schemaLocation="https://apps8.tflite.com/PublicService/Ota.svc/mex?xsd=xsd0" namespace="tflite.com/TakeFliteExternalService/"/>
      <xsd:import schemaLocation="https://apps8.tflite.com/PublicService/Ota.svc/mex?xsd=xsd1" namespace="http://www.opentravel.org/OTA/2003/05"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TakeFliteOtaService_OTA_AirLowFareSearchRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirLowFareSearchRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirLowFareSearchRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirLowFareSearchRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirBookRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirBookRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirBookRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirBookRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirScheduleRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirScheduleRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirScheduleRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirScheduleRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirFlifoRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirFlifoRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirFlifoRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirFlifoRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirBookModifyRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirBookModifyRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_AirBookModifyRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_AirBookModifyRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_ReadRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_ReadRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_ReadRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_ReadRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_ReadProfileRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_ReadProfileRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_ReadProfileRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_ReadProfileRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_PkgAvailRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_PkgAvailRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_PkgAvailRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_PkgAvailRQResponse"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_PkgBookRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:OTA_PkgBookRQ"/>
  </wsdl:message>
  <wsdl:message name="TakeFliteOtaService_OTA_PkgBookRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:OTA_PkgBookRQResponse"/>
  </wsdl:message>
  <wsdl:portType name="TakeFliteOtaService">
    <wsdl:operation name="OTA_AirLowFareSearchRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirLowFareSearchRQ" message="tns:TakeFliteOtaService_OTA_AirLowFareSearchRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirLowFareSearchRQResponse" message="tns:TakeFliteOtaService_OTA_AirLowFareSearchRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirBookRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirBookRQ" message="tns:TakeFliteOtaService_OTA_AirBookRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirBookRQResponse" message="tns:TakeFliteOtaService_OTA_AirBookRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirScheduleRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirScheduleRQ" message="tns:TakeFliteOtaService_OTA_AirScheduleRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirScheduleRQResponse" message="tns:TakeFliteOtaService_OTA_AirScheduleRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirFlifoRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirFlifoRQ" message="tns:TakeFliteOtaService_OTA_AirFlifoRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirFlifoRQResponse" message="tns:TakeFliteOtaService_OTA_AirFlifoRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirBookModifyRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirBookModifyRQ" message="tns:TakeFliteOtaService_OTA_AirBookModifyRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirBookModifyRQResponse" message="tns:TakeFliteOtaService_OTA_AirBookModifyRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_ReadRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_ReadRQ" message="tns:TakeFliteOtaService_OTA_ReadRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_ReadRQResponse" message="tns:TakeFliteOtaService_OTA_ReadRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_ReadProfileRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_ReadProfileRQ" message="tns:TakeFliteOtaService_OTA_ReadProfileRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_ReadProfileRQResponse" message="tns:TakeFliteOtaService_OTA_ReadProfileRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_PkgAvailRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_PkgAvailRQ" message="tns:TakeFliteOtaService_OTA_PkgAvailRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_PkgAvailRQResponse" message="tns:TakeFliteOtaService_OTA_PkgAvailRQ_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OTA_PkgBookRQ">
      <wsdl:input wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_PkgBookRQ" message="tns:TakeFliteOtaService_OTA_PkgBookRQ_InputMessage"/>
      <wsdl:output wsaw:Action="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_PkgBookRQResponse" message="tns:TakeFliteOtaService_OTA_PkgBookRQ_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_TakeFliteOtaService" type="tns:TakeFliteOtaService">
    <wsp:PolicyReference URI="#WSHttpBinding_TakeFliteOtaService_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OTA_AirLowFareSearchRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirLowFareSearchRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirBookRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirBookRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirScheduleRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirScheduleRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirFlifoRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirFlifoRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_AirBookModifyRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_AirBookModifyRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_ReadRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_ReadRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_ReadProfileRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_ReadProfileRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_PkgAvailRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_PkgAvailRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OTA_PkgBookRQ">
      <soap12:operation soapAction="tflite.com/TakeFliteExternalService/TakeFliteOtaService/OTA_PkgBookRQ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalService">
    <wsdl:port name="WSHttpBinding_TakeFliteOtaService" binding="tns:WSHttpBinding_TakeFliteOtaService">
      <soap12:address location="https://apps8.tflite.com/PublicService/Ota.svc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>https://apps8.tflite.com/PublicService/Ota.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
