xsd0.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="tflite.com/TakeFliteExternalService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="tflite.com/TakeFliteExternalService/">
    <xs:import schemaLocation="https://apps8.tflite.com/PublicService/Ota.svc/mex?xsd=xsd1" namespace="http://www.opentravel.org/OTA/2003/05"/>
    <xs:element name="OTA_AirLowFareSearchRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AirLowFareSearchRQ" type="q1:OTA_AirLowFareSearchRQ" xmlns:q1="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="LocationType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="LocationCode" type="xs:string"/>
                <xs:attribute name="CodeContext" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AirportPrefType">
        <xs:simpleContent>
            <xs:extension base="tns:LocationType">
                <xs:attribute name="PreferLevel" type="tns:PreferLevelType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="PreferLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Only"/>
            <xs:enumeration value="Unacceptable"/>
            <xs:enumeration value="Preferred"/>
            <xs:enumeration value="Required"/>
            <xs:enumeration value="NoPreference"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CredentialsType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AgentLogin" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="AgentPassword" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="ServiceId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OTA_AirLowFareSearchRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_AirLowFareSearchRQResult" type="q2:OTA_AirLowFareSearchRS" xmlns:q2="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CompanyNameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="CompanyShortName" type="xs:string"/>
                <xs:attribute name="TravelSector" type="xs:string"/>
                <xs:attribute name="Code" type="xs:string"/>
                <xs:attribute name="CodeContext" type="xs:string"/>
                <xs:attribute name="CountryCode" type="xs:string"/>
                <xs:attribute name="Division" type="xs:string"/>
                <xs:attribute name="Department" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CompanyNamePrefType">
        <xs:simpleContent>
            <xs:extension base="tns:CompanyNameType">
                <xs:attribute name="PreferLevel" type="tns:PreferLevelType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="OperatingAirlineType">
        <xs:simpleContent>
            <xs:extension base="tns:CompanyNameType">
                <xs:attribute name="FlightNumber" type="xs:string"/>
                <xs:attribute name="ResBookDesigCode" type="xs:string"/>
                <xs:attribute name="MarketingInd" type="xs:boolean"/>
                <xs:attribute name="BookedRBD" type="xs:string"/>
                <xs:attribute name="TicketedRBD" type="xs:string"/>
                <xs:attribute name="FrequentFlierMiles" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="OTA_AirBookRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AirBookRQ" type="q3:OTA_AirBookRQ" xmlns:q3="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirBookRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_AirBookRQResult" type="q4:OTA_AirBookRS" xmlns:q4="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirScheduleRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AirScheduleRQ" type="q5:OTA_AirScheduleRQ" xmlns:q5="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirScheduleRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_AirScheduleRQResult" type="q6:OTA_AirScheduleRS" xmlns:q6="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirFlifoRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AirFlifoRQ" type="q7:OTA_AirFlifoRQ" xmlns:q7="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirFlifoRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_AirFlifoRQResult" type="q8:OTA_AirFlifoRS" xmlns:q8="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirBookModifyRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AirBookModifyRQ" type="q9:OTA_AirBookModifyRQ" xmlns:q9="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_AirBookModifyRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_AirBookModifyRQResult" type="q10:OTA_AirBookRS" xmlns:q10="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_ReadRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="ReadRQ" type="q11:OTA_ReadRQ" xmlns:q11="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_ReadRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_ReadRQResult" type="q12:OTA_ResRetrieveRS" xmlns:q12="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_ReadProfileRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="ReadRQ" type="q13:OTA_ReadRQ" xmlns:q13="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_ReadProfileRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_ReadProfileRQResult" type="q14:OTA_ProfileReadRS" xmlns:q14="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_PkgAvailRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="PkgAvailRQ" type="q15:OTA_PkgAvailRQ" xmlns:q15="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_PkgAvailRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_PkgAvailRQResult" type="q16:OTA_PkgAvailRS" xmlns:q16="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_PkgBookRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="PkgBookRQ" type="q17:OTA_PkgBookRQ" xmlns:q17="http://www.opentravel.org/OTA/2003/05"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OTA_PkgBookRQResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="OTA_PkgBookRQResult" type="q18:OTA_PkgBookRS" xmlns:q18="http://www.opentravel.org/OTA/2003/05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>